.btn{
    background:#fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    color: blue;
}

.correct{
    background: #9aeb9a;
}

.incorrect{
    background: red;
}